@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.n1{
  
background: linear-gradient(145deg, #101010, #0e0e0e);
box-shadow:   #070707,
              #171717;
}

.n11212{
  
  background: linear-gradient(145deg, #101010, #0e0e0e);
  box-shadow:   #070707,
                #171717;
                background-color: #ff0000;
  }